@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


body{
    background-color: lightblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.quote-container{
    width: 400px;
    background-color: #e65b00;

    position: absolute;
    top:50%;
    padding: 0px 10px 10px 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}

.quote-container h2{
    position: relative;
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
}

.quote-container h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 2px;
    width: 30%;
    border-radius: 10px;
    background: rgb(236, 227, 227);
}

.quote-content{
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.quote{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

#nextQuote {
    border: none;
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 5px 5px 10px rgba(68, 64, 64, 0.525);
}

h2:hover{
    color: rgb(236, 227, 227);
}